.card {
    display: flex;
    flex-direction: column;
    height: max-content;
    min-width: 250px;
    max-width: 650px;
    border-radius: 10px;
    box-shadow: 0 0 2em 0.2em #525252;
    transition: transform 500ms ease;
}

.card:hover {
    transform: scale(1.05);
}

.card_header {
    display: flex;
    padding: 0px;
    flex-direction: row;
    height: 40px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border: 0px solid #00000000;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
}

.card_header_endpoint {
    width: 40%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-left: 5px;
    text-align: left;
    border-radius: 10px 0px 0px 0px;
    overflow: hidden;
}

.card_header_icon {
    width: 20%;
    height: 40px;
    overflow: visible;
    /* padding-bottom: 20px; */
    position: relative;
    top: -20px;
    left: -4%;
}

.card_header_index {
    width: 40%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-right: 5px;
    text-align: right;
    border-radius: 0px 10px 0px 0px;
    overflow: hidden;
}

.card_title {
    font-size: 30px;
    font-family: 'Changa One', cursive;
    padding: 9px 4px;
}

.card_content {
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0px 0px 10px 10px;
}

table, th, td {
    border-collapse: collapse;
    font-size: 20px;
    font-weight: lighter;
}