.resource_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    width: max(95%, 250px);
    margin-inline: auto;
    overflow: visible;
}

.resource_list_col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}